# Numpy 
Numpy is really similar to matlab so haven't listed many examples

# Pandas

In [2]:
import pandas as pd

# read csv in to a data frame 
# csv is a web pull from goodreads
gr = pd.read_csv('all.csv')

# inspect pandas object
first_rows = gr.head()
first_three_rows = gr.head(3)

dimensions = gr.shape
column_names = gr.columns
column_names_list = column_names.tolist() # Convert to list
# print(first_rows) 
print (dimensions)
print(column_names)
print(column_names_list)

(5999, 10)
Index([u'4.40', u'136455', u'0439023483', u'good_reads:book',
       u'https://www.goodreads.com/author/show/153394.Suzanne_Collins',
       u'2008',
       u'/genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action',
       u'dir01/2767052-the-hunger-games.html', u'2958974',
       u'The Hunger Games (The Hunger Games, #1)'],
      dtype='object')
['4.40', '136455', '0439023483', 'good_reads:book', 'https://www.goodreads.com/author/show/153394.Suzanne_Collins', '2008', '/genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action', 'dir01/2767052-the-hunger-games.html', '2958974', 'The Hunger Games (The Hunger Games, #1)']

In [3]:
gr.head()

,4.40,136455,0439023483,good_reads:book,https://www.goodreads.com/author/show/153394.Suzanne_Collins,2008,/genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action,dir01/2767052-the-hunger-games.html,2958974,"The Hunger Games (The Hunger Games, #1)"
0,4.41,16648,0439358078,good_reads:book,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478,Harry Potter and the Order of the Phoenix (Har...
1,3.56,85746,0316015849,good_reads:book,https://www.goodreads.com/author/show/941441.S...,2005.0,/genres/young-adult|/genres/fantasy|/genres/ro...,dir01/41865.Twilight.html,2579564,"Twilight (Twilight, #1)"
2,4.23,47906,0061120081,good_reads:book,https://www.goodreads.com/author/show/1825.Har...,1960.0,/genres/classics|/genres/fiction|/genres/histo...,dir01/2657.To_Kill_a_Mockingbird.html,2078123,To Kill a Mockingbird
3,4.23,34772,0679783261,good_reads:book,https://www.goodreads.com/author/show/1265.Jan...,1813.0,/genres/classics|/genres/fiction|/genres/roman...,dir01/1885.Pride_and_Prejudice.html,1388992,Pride and Prejudice
4,4.25,12363,0446675539,good_reads:book,https://www.goodreads.com/author/show/11081.Ma...,1936.0,/genres/classics|/genres/historical-fiction|/g...,dir01/18405.Gone_with_the_Wind.html,645470,Gone with the Wind

## Pandas series
Represent rows and columns, similar to Numpy vector

In [4]:
# Select a column by name
book = gr['good_reads:book']
print(first_three_rows)

# Add a column
gr["dummy_column"] = book

   4.40 136455  0439023483  good_reads:book  \
0  4.41  16648  0439358078  good_reads:book
1  3.56  85746  0316015849  good_reads:book
2  4.23  47906  0061120081  good_reads:book

  https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008  \
0  https://www.goodreads.com/author/show/1077326....            2003.0
1  https://www.goodreads.com/author/show/941441.S...            2005.0
2  https://www.goodreads.com/author/show/1825.Har...            1960.0

  /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action  \
0  /genres/fantasy|/genres/young-adult|/genres/fi...
1  /genres/young-adult|/genres/fantasy|/genres/ro...
2  /genres/classics|/genres/fiction|/genres/histo...

                 dir01/2767052-the-hunger-games.html  2958974  \
0  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478
1                          dir01/41865.Twilight.html  2579564
2              dir01/2657.To_Kill_a_Mockingbird.html  2078123

             The Hunger Games (The Hunger Games, #1)
0  Harry Potter and the Order of the Phoenix (Har...
1                            Twilight (Twilight, #1)
2                              To Kill a Mockingbird

In [5]:
## COLUMN MATH ## 
# Say we have two numerical columns, can do column by column operations
# Like matlab

water_energy = food_info["Water_(g)"] * food_info["Energy_Kcal"]

# max in column 
max_calories = food_info["Energy_Kcal"].max()

NameError: name 'food_info' is not defined

# Sorting a dataframe by column
Use method sort_values(), passing the column name. By default Pandas will sort by the column specified in ascending order and will return a new dataframe instead of modifying itself.

Use parameters listed in the document to change the behaviour

This sorts the entire dataframe by that column - which is very useful

In [6]:
rating_sorted = gr.sort_values("4.40", ascending=False)
print(rating_sorted.head(3))

      4.40 136455  0439023483  good_reads:book  \
5563   5.0      9         NaN  good_reads:book
2908   5.0      0  0983002215  good_reads:book
1717   5.0     28         NaN  good_reads:book

     https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008  \
5563  https://www.goodreads.com/author/show/7738947....            2014.0
2908  https://www.goodreads.com/author/show/6589034....            2011.0
1717  https://www.goodreads.com/author/show/6467808....            2014.0

     /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action  \
5563                  /genres/romance|/genres/new-adult
2908                                                NaN
1717                   /genres/poetry|/genres/childrens

                 dir01/2767052-the-hunger-games.html 2958974  \
5563                   dir56/21902777-untainted.html      14
2908              dir30/16200303-family-secrets.html       9
1717  dir18/22204746-an-elephant-is-on-my-house.html      64

     The Hunger Games (The Hunger Games, #1)     dummy_column
5563    Untainted (Photographer Trilogy, #3)  good_reads:book
2908                          Family Secrets  good_reads:book
1717              An Elephant Is On My House  good_reads:book

## Missing Data

Note: using .mean() will automatically filter missing values in pandas

In [7]:
column_null = pd.isnull(gr['0439023483'])
# print column_null[0:20] # Returns a boolean for if value is NaN
print len(column_null)
column_null_true = column_null[column_null == True]
print ('The number of NaN values is: %d' % len(column_null_true))
print column_null_true[1:5]

# Grab non-NaN values
column_non_null = gr["0439023483"][column_null == False]
print len(column_non_null)

5999
The number of NaN values is: 475
48     True
84     True
115    True
155    True
Name: 0439023483, dtype: bool
5524

# Summary Statistics

From dataquest 12.5:
- Select just the rows in titanic_survival where the pclass value is equivalent to the current iterator value (class),
- Select just the fare column for the current subset of rows,
- Calculate mean value of this column using the Series method mean,
- In the fares_by_class dictionary, assign the calculated mean as the value and the class as the key.

In [8]:
# Sorts fare column by respect passenger class
# Calculates mean and assigns to dictionary 

f = "titanic_data_kaggle/train.csv"
titanic_survival = pd.read_csv(f)
titanic_survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
passenger_classes = [1, 2, 3]
fares_by_class = {}
for pc in passenger_classes:
    interest_rows = titanic_survival["Fare"][titanic_survival['Pclass'] == pc]
    mean = interest_rows.mean()
    fares_by_class[pc] = mean
    
print fares_by_class

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

### Pivot Tables

In [10]:
import numpy as np

# Let's compute the survival change from 0-1 for people in each class
# The closer to one, the higher the chance people in that passenger class survived
# The "survived" column contains a 1 if the passenger survived, and a 0 if not
# The pivot_table method on a pandas dataframe will let us do this
# index specifies which column to subset data based on (in this case, we want to compute the survival percentage for each class)
# values specifies which column to subset based on the index
# The aggfunc specifies what to do with the subsets
# In this case, we split survived into 3 vectors, one for each passenger class, and take the mean of each
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)

# First class passengers had a much higher survival chance
print(passenger_survival)

passenger_age = titanic_survival.pivot_table(index='Pclass', values='Age', aggfunc=np.mean)

print(passenger_age)

# Multiple values
port_stats = titanic_survival.pivot_table(index='Embarked', values=['Age','Survived','Fare'],aggfunc=np.mean)
print(port_stats)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
                Age       Fare  Survived
Embarked
C         30.814769  59.954144  0.553571
Q         28.089286  13.276030  0.389610
S         29.445397  27.079812  0.336957

### Drop missing data

Remove missing values in a matrix using dropna

In [11]:
# Drop all rows that have missing values
new_titanic_survival = titanic_survival.dropna()

# We can also use the axis argument to drop columns that have missing values
new_titanic_survival = titanic_survival.dropna(axis=1)

# We can use the subset argument to only drop rows if certain columns have missing values.
# This drops all rows where "age" or "sex" is missing.
new_titanic_survival = titanic_survival.dropna(subset=["Age", "Sex"])

### Row Indicies

In [12]:
# This code prints the fourth row in the data
print(new_titanic_survival.iloc[3,:])

# Using .loc instead addresses rows and columns by index, not position
# This actually prints the first row, because it has index 3
print(new_titanic_survival.loc[3,:])

PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object

###  Column Indicies
We can also index columns using the .loc[] method

In [13]:
new_titanic_survival = titanic_survival.dropna(subset=["body"])

# This prints the value in the first column of the first row
print(new_titanic_survival.iloc[0,0])

# This prints the exact same value -- it prints the value at row index 3 and column "pclass"
# This happens to also be at row 0, index 0
print(new_titanic_survival.loc[3,"pclass"])

KeyError: ['body']

### Reindex Rows
Recall that new_titanic_survival didn't have sequential row indexes.

Each row retained its original index from titanic_survival.

Sometimes it is useful to reindex, and make new indices starting from 0.

To do this, we can use the reset_index() method.

In [ ]:
# The indexes are the original numbers from titanic_survival
new_titanic_survival = titanic_survival.dropna(subset=["body"])
print(new_titanic_survival)

# Reset the index to an integer sequence, starting at 0.
# The drop keyword argument specifies whether or not to make a dataframe column with the index values.
# If True, it won't, if False, it will.
# We'll almost always want to set it to True.
new_titanic_survival = new_titanic_survival.reset_index(drop=True)
# Now we have indexes starting from 0!
print(new_titanic_survival)

new_titanic_survival = titanic_survival.dropna(subset=["age", "boat"])
titanic_reindexed = new_titanic_survival.reset_index(drop=True)

### Apply function
The first step we need to take to figure out the age breakdown is to learn about the .apply() method.

By default, .apply() will iterate through each column in a dataframe, and perform a function on it.

The column will be passed into the function.

The result from the function will be combined with all of the other results, and placed into a new series.

The function results will have the same position as the column they were generated from.